@model IEnumerable<Mood>
@{
    ViewBag.Title = "InputMood";
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}

<link rel="stylesheet" href="~/Content/ChooseMoodModalTemplate/modal-style.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<h2>Input Mood</h2>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3>How are you feeling today?</h3>
        @using (Html.BeginForm("InputMood", "Home", FormMethod.Post, new { @class = "mood-form" }))
        {
            <div class="mood-list">
                @foreach (var item in Model)
                {
                    <div class="mood-item">
                        <button type="submit" name="selectedMood" value="@item.MoodName" class="mood-button">
                            <h3>@item.MoodName</h3>
                        </button>
                    </div>
                }
            </div>
        }
    </div>
</div>

<script src="~/Content/ChooseMoodModalTemplate/modal-script.js"></script>
