
@{
    ViewBag.Title = "LogIn";
    ViewBag.TitleHeader = "Welcome Back!";
    Layout = "~/Views/Shared/_StandardLayout.cshtml";
}
<!-- Favicon -->
<link href="~/Content/MainTemplate/img/favicon.ico" rel="icon">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">

<!-- CSS Libraries -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="~/Content/MainTemplate/lib/animate/animate.min.css" rel="stylesheet">
<link href="~/Content/MainTemplate/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="~/Content/MainTemplate/lib/flaticon/font/flaticon.css" rel="stylesheet">
<link href="~/Content/MainTemplate/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

<!-- Template Stylesheet -->
<link href="~/Content/MainTemplate/css/style.css" rel="stylesheet">


<div class="row align-items-center">
    <div class="col-lg-7">
        <div class="booking-content">
            <div class="section-header">
                <p>Sign In</p>
                <h2>Sign In to Discover Recipes That Will Boost Your Mood</h2>
            </div>
            <div class="about-text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem. Curabitur non nisl nec nisi scelerisque maximus. Aenean consectetur convallis porttitor. Aliquam interdum at lacus non blandit.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="booking-form">
            <form id="login-form">
                <div class="control-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Username" required="required" />
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="far fa-user"></i></div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="input-group" id="show-hide-password">
                        <input type="password" class="form-control" placeholder="Password" required="required" />
                        <div class="input-group-append">
                            <div class="input-group-text"><a><i class="fa fa-eye-slash" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn custom-btn" type="submit">Log In</button>
                </div>
                <div class="control-group">
                    <div class="input-group dont-have-account-link-container" style="justify-content:center; align-items:center; margin-top:2rem">
                        <a href="~/Account/Register" style="color:rgba(255,255,255, 0.8);">Don't have an account yet?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/MainTemplate/lib/easing/easing.min.js"></script>
<script src="~/Content/MainTemplate/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="~/Content/MainTemplate/lib/tempusdominus/js/moment.min.js"></script>
<script src="~/Content/MainTemplate/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="~/Content/MainTemplate/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Contact Javascript File -->
<script src="~/Content/MainTemplate/mail/jqBootstrapValidation.min.js"></script>
<script src="~/Content/MainTemplate/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="~/Content/MainTemplate/js/main.js"></script>

